<div class="content" role="main">
  <nz-layout>
    <nz-sider nzCollapsible nzCollapsed="true" nzWidth="200px">
      <div class="logo">
        <a href="#" [routerLink]="'/dashboard'"></a>
        <i nz-icon [nzType]="NgZorro.Sketch" nzTheme="outline"></i>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline">
        <li nz-menu-item>
          <a [routerLink]="'/books'"></a>
          <i nz-icon [nzType]="NgZorro.Book"></i>
          <span>Books</span>
        </li>
        <li nz-menu-item>
          <a [routerLink]="'/dashboard'"></a>
          <i nz-icon [nzType]="Social.Discord"></i>
          <span>Books</span>
        </li>
        <li nz-menu-item>
          <a [routerLink]="'/dashboard'"></a>
          <i nz-icon [nzType]="Social.Chrome"></i>
          <span>Books</span>
        </li>
        <li nz-menu-item>
          <a [routerLink]="'/dashboard'"></a>
          <i nz-icon [nzType]="Angular.Animations"></i>
          <span>Books</span>
        </li>
        <li nz-menu-item>
          <a [routerLink]="'/dashboard'"></a>
          <i nz-icon [nzType]="Social.Meetup"></i>
          <span>Books</span>
        </li>
      </ul>
    </nz-sider>

    <nz-layout>
      <nz-header *ngIf="false"></nz-header>

      <nz-content>
  <!--      <nz-breadcrumb>-->
  <!--        <nz-breadcrumb-item>User</nz-breadcrumb-item>-->
  <!--        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>-->
  <!--      </nz-breadcrumb>-->
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>

      <nz-footer *ngIf="true">
        <div class="card-container">
          <a class="circle-link" title="CLI" href="https://cli.angular.io/" target="_blank" rel="noopener">
            <svg alt="Angular CLI Logo" xmlns="http://www.w3.org/2000/svg" width="21.762" height="23.447" viewBox="0 0 21.762 23.447">
              <g id="Group_21" data-name="Group 21" transform="translate(0)">
                <path id="Path_20" data-name="Path 20" d="M2660.313,313.618h0l-10.833,3.9,1.637,14.4,9.2,5.152,9.244-5.152,1.685-14.4Z" transform="translate(-2649.48 -313.618)" fill="#37474f"/>
                <path id="Path_21" data-name="Path 21" d="M2741.883,313.618v23.447l9.244-5.152,1.685-14.4Z" transform="translate(-2731.05 -313.618)" fill="#263238"/>
                <path id="Path_22" data-name="Path 22" d="M2692.293,379.169h11.724V368.618h-11.724Zm11.159-.6h-10.608v-9.345h10.621v9.345Z" transform="translate(-2687.274 -362.17)" fill="#fff"/>
                <path id="Path_23" data-name="Path 23" d="M2709.331,393.688l.4.416,2.265-2.28-2.294-2.294-.4.4,1.893,1.893Z" transform="translate(-2702.289 -380.631)" fill="#fff"/>
                <rect id="Rectangle_12" data-name="Rectangle 12" width="3.517" height="0.469" transform="translate(9.709 13.744)" fill="#fff"/>
              </g>
            </svg>
          </a>

          <a class="circle-link" title="Protractor" href="https://www.protractortest.org/" target="_blank" rel="noopener">
            <svg alt="Angular Protractor Logo" xmlns="http://www.w3.org/2000/svg" width="21.81" height="23.447" viewBox="0 0 21.81 23.447">
              <g id="Group_26" data-name="Group 26" transform="translate(0)">
                <path id="Path_28" data-name="Path 28" d="M4620.155,311.417h0l-10.881,3.9,1.637,14.4,9.244,5.152,9.244-5.152,1.685-14.4Z" transform="translate(-4609.274 -311.417)" fill="#e13439"/>
                <path id="Path_29" data-name="Path 29" d="M4702.088,311.417v23.447l9.244-5.152,1.685-14.4Z" transform="translate(-4691.207 -311.417)" fill="#b52f32"/>
                <path id="Path_30" data-name="Path 30" d="M4651.044,369.58v-.421h1.483a7.6,7.6,0,0,0-2.106-5.052l-1.123,1.123-.3-.3,1.122-1.121a7.588,7.588,0,0,0-4.946-2.055v1.482h-.421v-1.485a7.589,7.589,0,0,0-5.051,2.058l1.122,1.121-.3.3-1.123-1.123a7.591,7.591,0,0,0-2.106,5.052h1.482v.421h-1.489v1.734h15.241V369.58Zm-10.966-.263a4.835,4.835,0,0,1,9.67,0Z" transform="translate(-4634.008 -355.852)" fill="#fff"/>
              </g>
            </svg>
          </a>

        </div>
        Ant Design ©2020 Implement By Angular
      </nz-footer>
    </nz-layout>
  </nz-layout>
</div>
